body{
    background-color: azure;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 30px;
}
#container{
    width: 400px;
    background-color: rgb(239, 226, 140);
    overflow: hidden;
    margin: 20px auto ;
    padding: 30px;
    text-align: center;

}

header, footer{
    text-align: center;
}
.clear{
    text-decoration: none;
    background-color: rgb(11, 11, 11);
    color: whitesmoke;
    padding: 10px;
    
    
}